.ChatWindow {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.ChatHeader {
    background-color: var(--tertiary);
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
}

.ChatTimeline {
    flex-grow: 1;
    overflow: scroll;
}

.ChatBox {
    display: flex;
    background-color: var(--tertiary);
    padding: 10px;
    column-gap: 10px;
}

.ChatBox__field {
    width: 100%;
    background-color: var(--secondary);
    outline: none;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: all 250ms;

    &::placeholder {
        color: white;
    }

    &:hover {
        background-color: var(--hover);
    }
}

.ChatBox__button {
    background-color: var(--secondary);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 250ms;

    &:hover {
        background-color: var(--hover);
    }
}
