:root {
    --background: #263238;
    --primary: #673AB7;
    --secondary: #7C4DFF;
    --tertiary: #651FFF;
    --hover: #B388FF;
}

// Core Modules
@import './Reset.scss';
@import './Other.scss';

// Components
@import './Button.scss';
@import './ChannelPage.scss';
@import './ChatBox.scss';
@import './ChatHeader.scss';
@import './ChatTimeline.scss';
@import './ChatWindow.scss';
@import './LoginForm.scss';
@import './LoginPage.scss';
@import './Message.scss';
@import './Sidebar.scss';
@import './Spinner.scss';
@import './TextField.scss';
