:root {
    --background: #263238;
    --primary: #673AB7;
    --secondary: #7C4DFF;
    --tertiary: #651FFF;
    --hover: #B388FF;
}

@import './Reset.scss';
@import './General.scss';

@import './Chat.scss';
@import './Channel.scss';
@import './Message.scss';
@import './Sidebar.scss';
